<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <!--current_userと、表示userが違う場合のみdelete表示-->
  <% if current_user.admin? && !current_user?(user) %>
    |<%= link_to "delete",user,method: :delete,
                    data: { confirm: "You sure?" } %>
  <% end %>
</li>
